.buttonContainer {
  @include text-body(400);

  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  text-align: center;
  text-decoration: none;

  border: solid 2px;
  border-radius: 12px;

  transition-duration: $transition-duration;
  transition-property: color, background-color, border-color;

  &:focus-visible {
    outline: solid 4px $purple-125;
  }

  &.pushed,
  &:active:not(&.disabled, &.loading) {
    margin-top: 4px;
    border-bottom-width: 2px;

    &.small {
      margin-top: 2px;
    }
  }
}

.normal {
  padding: 6px 10px;
  line-height: 24px;
  border-bottom-width: 6px;
}

.small {
  @include text-tag(400);

  padding: 2px 6px;
  line-height: 20px;
  border-bottom-width: 4px;
}

.primary {
  color: $black-100;
  background-color: $cream-100;
  border-color: $black-100;

  &:hover {
    color: $black-85;
    background-color: $cream-85;
    border-color: $black-85;
  }
}

.success {
  color: $black-100;
  background-color: $green-100;
  border-color: $green-125;

  &:hover {
    color: $black-85;
    background-color: $green-85;
    border-color: $green-115;
  }
}

.danger {
  color: $black-100;
  background-color: $orange-85;
  border-color: $orange-115;

  &:hover {
    color: $black-85;
    background-color: $orange-75;
    border-color: $orange-100;
  }
}

.disabled {
  cursor: not-allowed;
  background: repeating-linear-gradient(
    -115deg,
    $grey-100,
    $grey-100 3px,
    $black-25 3px,
    $black-25 6px
  );
  background-color: $grey-100;
  border-color: $black-100;

  &:hover {
    color: $black-100;
    background-color: $grey-100;
    border-color: $black-100;
  }
}

.loading {
  cursor: wait;
  background: $grey-100;
  background-color: $grey-100;
  border-color: $black-100;

  &:hover {
    color: $black-100;
    background-color: $grey-100;
    border-color: $black-100;
  }
}

.loader {
  width: 16px;
  height: 16px;

  border: inset 2px currentcolor;
  border-radius: 999px;

  animation: rotate infinite linear 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
