.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.tabs {
  display: flex;

  .tab:not(:last-child, :first-child) {
    border-radius: 0;
  }

  .tab:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .tab:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.tab span {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.notification {
  @include text-small-stuff(normal);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  font-weight: bold;

  background-color: $purple-50;
  border-radius: 24px;
}
