.container {
  @include text-small-stuff(400);

  display: flex;
  gap: 4px;
  box-sizing: border-box;
  color: $orange-100;

  p {
    padding-top: 2px;
  }
}

.icon {
  flex-shrink: 0;
}

.disabled {
  cursor: not-allowed;
}

.error {
  color: $orange-100;
}
