@mixin roboto($weight, $style) {
  font-family: Roboto, sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin archivo($weight) {
  font-family: Archivo, sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}