.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: $cream-25;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 720px;
  height: 100%;
}

.version {
  @include text-small-stuff(400);

  pointer-events: none;

  position: fixed;
  bottom: 0;

  padding: 4px 8px;

  color: $black-25;
}
