.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.input {
  position: relative;

  display: flex;
  gap: 8px;
  align-items: center;

  width: 100%;

  input {
    width: 100%;
  }

  button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
}
