.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.input {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;

  input {
    width: 100%;
  }
}
