
.container {
  display: flex;
  flex-direction: column;
  place-content: center center;

  height: 100%;

  text-align: center;
}

.title {
  @include archivo(800);
}

.version {
  @include text-small-stuff(400);

  pointer-events: none;

  position: fixed;
  bottom: 0;

  padding: 4px 8px;

  color: $black-25
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}